* {
  --black: #000000;
  --gray1: #111827;
  --gray2: #1f2937;
  --gray3: #374151;
  --white: #ffffff;

  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  color: var(--black);
}

body #field {
  width: 100%;
  height: 100px;
  font-size: 50px;
  text-align: center;
  color: var(--white);
  border: 0px;
  outline: 0px;
  background: linear-gradient(95deg, var(--gray1), var(--gray3));
}

body .keys {
  background-color: var(--black);
  height: calc(100vh - 100px);
  margin: 0 auto;
  text-align: center;
  padding-top: 15px;
  /* display: flex; */
}

body .keys .row {
  display: flex;
}

body .keys .row button {
  flex: 1;
  font-size: 35px;
  height: 100px;
  background-color: var(--gray1);
  color: var(--white);
  margin: 1px;
  border: 0px;
  outline: 0px;

  transition: all 0.3s ease-in-out;
}

body .keys .row button.op {
  background: linear-gradient(95deg, var(--gray3), var(--gray1));
}

body .keys .row button.eq {
  background: linear-gradient(95deg, var(--gray1), var(--gray3));
}

/* events */
body .keys .row button:hover {
  font-size: 65px;
  background-color: var(--gray2);
  color: var(--white);
  border-radius: 20%;
}

body #field:focus {
  outline: 3px solid var(--gray2);
  background: linear-gradient(95deg, var(--gray1), var(--gray1));
}
